*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
background: radial-gradient(circle at top, #0a0f2c, #020617);
color:white;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
padding:20px 60px;
background: rgba(255,255,255,0.05);
backdrop-filter: blur(10px);
position:fixed;
width:100%;
top:0;
z-index:100;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

.navbar a{
text-decoration:none;
color:white;
transition:0.3s;
}

.navbar a:hover{
color:#00f7ff;
}

.hero{
min-height:80vh;
padding:120px 60px 60px;  /* top space adjust */
display:flex;
align-items:center;
}

.hero-container{
display:flex;
align-items:center;
justify-content:space-between;
width:85%;
margin:auto;
gap:40px;   /* IMPORTANT */
}

.info h1{
font-size:50px;
}


.info{
max-width:500px;
}


.info span{
color:#00f7ff;
}

.bio{
margin:20px 0;
opacity:0.8;
}

/* BUTTON */
.btn{
padding:12px 25px;
border:none;
background:linear-gradient(45deg,#00f7ff,#7b2ff7);
color:white;
border-radius:30px;
cursor:pointer;
transition:0.3s;
}

.btn:hover{
transform:scale(1.05);
}

/* IMAGE */
.image img{
width: 300px;
height: 400px;          /* FIX HEIGHT */
object-fit: cover;      /* CROPS IMAGE PERFECTLY */
border-radius: 50%;     /* CIRCLE SHAPE */
box-shadow: 0 0 40px #00f7ff;
}

/* PROJECTS */
#projects{
padding:100px 60px;
}

.section-title{
font-size:40px;
margin-bottom:40px;
color:#00f7ff;
text-align:center;
}

.project-container{
display:grid;
grid-template-columns: repeat(4, 1fr);
gap:30px;
}

.project-card{
padding:25px;
border-radius:20px;
background: rgba(255,255,255,0.05);
backdrop-filter: blur(10px);
transition:0.4s;
}

.project-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #00f7ff;
border:1px solid #00f7ff;
}

/* SKILLS */
#skills{
padding:80px 60px;
text-align:center;
}

.skills-container span{
display:inline-block;
margin:10px;
padding:10px 20px;
border-radius:20px;
background: rgba(255,255,255,0.05);
}

/* CONTACT */
#contact{
padding:100px 60px;
}

.contact-container{
display:grid;
grid-template-columns: repeat(4, 1fr);
gap:30px;
}

.contact-card{
padding:25px;
border-radius:20px;
background: rgba(255,255,255,0.05);
transition:0.4s;
text-align:center;
}

.contact-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #7b2ff7;
}

.contact-card h3{
color:#00f7ff;
}

.contact-card a{
color:#7b2ff7;
text-decoration:none;
}

/* RESPONSIVE */
@media(max-width:1024px){
.project-container,
.contact-container{
grid-template-columns: repeat(2,1fr);
}
}

@media(max-width:600px){
.project-container,
.contact-container{
grid-template-columns: 1fr;
}

.hero-container{
flex-direction:column;
text-align:center;
}

.image img{
margin-top:20px;
}
}